@use "sass:color";
@use "sass:map";

@mixin mBuildColorVar($color, $name) {
  --ntv-#{$name}: #{$color};
  --#{$name}: rgb(var(--ntv-#{$name}));

  @for $i from 1 through 100 {
    $o: 100 - $i;
    @if $o > 9 {
      $o: "0#{$o}";
    } @else {
      $o: "00#{$o}";
    }

    --#{$name}-#{$o}: rgba(var(--ntv-#{$name}), #{$i * 0.01});
  }
}

@mixin mBuildColor($color, $name, $state: "") {
  $nstate: "";
  @if str-length($state) > 1 {
    $nstate: "-#{str-slice($state, 2)}";
  }

  .bg#{$nstate}-#{$name}#{$state} {
    background-color: var(--#{$name});
  }
  .color#{$nstate}-#{$name}#{$state} {
    color: var(--#{$name});
  }

  @for $i from 0 through 101 {
    $o: 100 - $i;
    @if $o > 9 {
      $o: "0#{$o}";
    } @else {
      $o: "00#{$o}";
    }

    .bg#{$nstate}-#{$name}-#{$o}#{$state} {
      background-color: var(--#{$name}-#{$o});
    }
    .color#{$nstate}-#{$name}-#{$o}#{$state} {
      color: var(--#{$name}-#{$o});
    }
  }
}
