@use "sass:math";

@mixin mBuildGrid($index: "") {
  @if str-length($string: $index) > 0 {
    $index: -#{$index};
  }

  .grid.grid-center#{$index} {
    justify-content: center;
  }
  .grid.grid-start#{$index} {
    justify-content: flex-start;
  }
  .grid.grid-end#{$index} {
    justify-content: flex-end;
  }

  @for $i from 1 through 12 {
    $w: math.div(100, $i);

    .grid.grid#{$index}-#{$i} {
      > * {
        width: #{$w}#{"%"};
      }
    }
  }
}

@mixin mBuildGridColumn($index: "") {
  @if str-length($string: $index) > 0 {
    $index: -#{$index};
  }

  @for $i from 1 through 12 {
    $w: math.div(100, 12) * $i;

    .col#{$index}-#{$i} {
      width: #{$w}#{"%"};
    }
  }
}
