{
  "root": true,
  "extends": ["@nuxt/eslint-config"],

  "rules": {
    "vue/max-attributes-per-line": "off",
    "vue/require-default-prop": "off",
    "vue/html-self-closing": "off",
    "vue/no-textarea-mustache": "off",
    "vue/singleline-html-element-content-newline": "off",
    "no-empty": "off"
  }
}
