.grid {
  display: flex;
  flex-wrap: wrap;

  &.center {
    justify-content: center;
  }
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
}

@include mBuildGrid();
@include screen() using ($key) {
  @include mBuildGrid($key);
}
