@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --text-color: var(--dark);
  --back-color: var(--light);
  --border-color: var(--dark-050);
}

body {
  font-size: 16px;
  margin: 0;
  background-color: var(--back-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}
