$colors: (
  primary: "0, 166, 251",
  danger: "239, 35, 60",
  success: "42, 145, 52",
  info: "255, 216, 25",
  dark: "37, 36, 34",
  light: "255, 255, 255",

  primary-flat: "227, 242, 253",
  danger-flat: " 255, 227, 224",
  info-flat: "255, 246, 204",
  success-flat: "183, 239, 197",
  dark-flat: "233, 236, 239",
  light-flat: "255, 255, 255",
);

$screens: (
  xg: 1272,
  md: 992,
  sm: 772,
  xs: 572,
);
